*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Coves';
}
@font-face {
  font-family: 'Coves';
  src: url('../Fonts/Coves_Light.otf') format('opentype');
}
main{
    background: url("../Images/BG.jpg"), #000;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.title{
    display: flex;
    width: 90%;
    color: white;
    height: 8vh;
    align-items: center;
    justify-content: center;
    padding: 35px;
}
h1{
    padding: 5px 0;
    border-bottom: 3px solid white;
}
form{
    backdrop-filter: blur(1px);
    background-color: #000000a7;
    
  border: 2px solid white;
  border-radius: 20px;
    display: flex;
    width: 50%;
    height: fit-content;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputs{
    height: fit-content;
    position: relative;
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px;
    margin: 0px 20px;
}
.inputs label{
    user-select: none;
    position: absolute;
    transition: ease .5s;
    font-size: 24px;
}
.inputs input:focus ~ label, input:valid ~ label{
    transform: translateY(-180%);
    z-index: 2;
    font-size: 22px;
    opacity: .9;
    
}
input{
    font-size: 26px;
    padding: 20px 10px;
    font-weight: 500;
    z-index: 1;
    color: white;
    width: 100%;
    border-style: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    outline-style: none;
    outline-width: 1px;
    outline-color: rgb(191, 191, 245);
}
.btn{
    color: white;
    border-radius: 45px;
    font-size: 28px;
    width: 90%;
    margin: 10px 0;
    border: 5px solid snow;
    transition: ease-out 0.05s;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
    font-weight: 600;
    transform: translateY(-3px);
}